{% load i18n %}
{% load staticfiles %}

{# Disabled until we upgrade s3uploader #}
{# {% load s3uploader %} #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
        <meta name="title" content="Django Info System" />
        <meta name="description" content="Open source hardware projects for a greener future." />
        <meta property="og:image" content="{% static 'django_info_system/images/favicons/apple-touch-icon-144x144-precomposed.png' %}" />
        <link rel="image_src" href="{% static 'django_info_system/images/favicons/apple-touch-icon-144x144-precomposed.png' %}" />
    {% endblock head_meta %}
    <link rel="shortcut icon" href="{% static 'django_info_system/images/favicons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'django_info_system/images/favicons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'django_info_system/images/favicons/apple-touch-icon-57x57-precomposed.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'django_info_system/images/favicons/apple-touch-icon-72x72-precomposed.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'django_info_system/images/favicons/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'django_info_system/images/favicons/apple-touch-icon-144x144-precomposed.png' %}">


    <title>
        {% spaceless %}
            {% block title_full %}
                {% block title %}{% endblock %}Django Info System
            {% endblock %}
        {% endspaceless %}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Lato:400|Pathway+Gothic+One'
            rel='stylesheet' type='text/css' />

        <!-- Bootstrap core CSS -->
        <link href="{% static 'django_info_system/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/magic-bootstrap.css' %}" rel="stylesheet">


        <!-- Fine Uploader -->
        <!--<link href="{% static 'django_info_system/css/fileuploader.css' %}" rel="stylesheet" type="text/css" />-->

        <!-- Select2 -->
        <link href="{% static 'django_info_system/css/select2-bootstrap.css' %}" rel="stylesheet" type="text/css" />

        <!-- bootstrap plugins -->
        <!--
        <link href="{% static 'django_info_system-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet" type="text/css" />
        -->

        <!-- pygments style -->
        <link href="{% static 'django_info_system/css/friendly.css' %}" rel="stylesheet" type="text/css" />

        {% comment %}
        <!-- jquery-vectormap -->
        <link href="{% static 'django_info_system-jvectormap/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
        {% endcomment %}

        <link href="{% static 'django_info_system/css/jquery.atwho.css' %}" rel="stylesheet" type="text/css" />

        <!-- OpenLab specific CSS -->
        {# {% s3uploader_css %} #}
        <link href="{% static 'django_info_system/css/openlab.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/anthrome.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/project.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/icons.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/notifications.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/discussion.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/activity.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/gallery.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/release.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/release2.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/nounball.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/landingpage.css' %}" rel="stylesheet">
        <link href="{% static 'django_info_system/css/stickyfooter.css' %}" rel="stylesheet">

        <link href="{% static 'django_info_system/css/olmarkdown.css' %}" rel="stylesheet">
  </head>

  <body {% block bodyattributes %}{% endblock %}>

    {% block startjavascript %}
        <script src="{% static 'django_info_system/js/jquery-1.11.0.min.js' %}"></script>
    {% endblock startjavascript %}

    {% block body %}
    {% endblock body %}

    {% block endjavascript %}
            <!-- jquery ui (core & interactions only) -->
            <script src="{% static 'django_info_system/js/jquery-ui-1.10.4.custom.js' %}"></script>

            <!-- Bootstrap core JavaScript -->
            <script src="{% static 'django_info_system/js/bootstrap.min.js' %}"></script>

            <!-- textarea plugins -->
            <script src="{% static 'django_info_system/js/jquery.autosize.js' %}"></script>
            <script src="{% static 'django_info_system/js/jquery.caret.js' %}"></script>
            <script src="{% static 'django_info_system/js/jquery.atwho.js' %}"></script>
            <script src="{% static 'django_info_system-markdown/js/bootstrap-markdown.js' %}"></script>

            <!-- Open lab custom JS -->
            <script src="{% static 'django_info_system/js/main.js' %}"></script>
            <script src="{% static 'django_info_system/js/components.js' %}"></script>
            <script src="{% static 'django_info_system/js/docviewer.js' %}"></script>
            <script src="{% static 'django_info_system/js/olmarkdown.js' %}"></script>
            <script src="{% static 'django_info_system/js/gallery.js' %}"></script>
            <script src="{% static 'django_info_system/js/newrelease.js' %}"></script>
    {% endblock %}
    {% block more_js %}
    {% endblock %}
  </body>
</html>
