{% extends "person/base.html" %}
{% load i18n %}

{% block header_content %}
    {% include "snippets/infocard.html" with wider="true" %}
{% endblock %}

{% block header_bottom %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li {{ tab.about }}><a href="{% url "person" person.id %}">History</a></li>
                {% comment %}
                    <li {{ tab.activity }}><a href="{% url "person_activity" person.slug %}">Activity</a></li>
                <li {{ tab.members }}><a href="{% url "person_members" person.slug %}">Members</a></li>
                    <li {{ tab.gallery }}{{ tab.photo }}><a href="{% url "person_gallery" person.slug %}">Gallery</a></li>
                <li {{ tab.followers }}><a href="{% url "person_followers" person.slug %}">Followers</a></li>
                {% endcomment %}
                <li class="{{ tab.manage.as_class }} edit-tab pull-right"><a href="{% url "person_manage_edit" person.id %}"><i class="icon-pencil"></i> Edit</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock header_bottom %}

{% block content %}
    {% block tabcontent %}
    {% endblock %}
{% endblock content %}
